<p-toast></p-toast>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-table
    [rows]="10"
    [paginator]="true"
    [value]="users"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editUser(user)"
          ></button>
          &nbsp;
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="delete(user)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="User Details"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="onHide()"
>
  <ng-template pTemplate="body" let-product>
    <div class="field">
      <label for="name">First Name </label>
      <input
        [disabled]="isDelete"
        type="text"
        pInputText
        id="firstName"
        [(ngModel)]="user.firstName"
        required
        autofocus
      />
    </div>
    <br />
    <div class="field">
      <label for="name">Last Name </label>
      <input
        [disabled]="isDelete"
        type="text"
        pInputText
        id="lastName"
        [(ngModel)]="user.lastName"
        required
        autofocus
      />
    </div>
    <br />
    <div class="field">
      <label for="name">
        Email &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</label
      >
      <input
        [disabled]="isDelete"
        type="text"
        pInputText
        id="email"
        [(ngModel)]="user.email"
        required
        autofocus
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Back"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      *ngIf="!isDelete"
      [disabled]="!user.email || !user.firstName || !user.lastName"
      pButton
      pRipple
      [label]="buttonLable"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
    <button
      *ngIf="isDelete"
      [disabled]="!user.email || !user.firstName || !user.lastName"
      pButton
      pRipple
      [label]="buttonLable"
      class="p-button-text"
      (click)="deleteUser()"
    ></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
